<div class="menu-container">
  <button (click)=refreshPage() class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    Back
  </button>
  <button (click)=showAdvisorView() class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Show advisor view">
    <span class="navbar-toggler-icon"></span>
    Advisor View
  </button>
  <button (click)=showSalesView() class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Show sales view">
    <span class="navbar-toggler-icon"></span>
    Sales View
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
</div>
