<div class="menu-container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Show advisor view" (click)="showAdvisorView()">
        <span class="navbar-toggler-icon"></span>
        Advisor View
      </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Show sales view" (click)="showSalesView()">
        <span class="navbar-toggler-icon"></span>
        Sales View
      </button>
      <div class="collapse navbar-collapse" id="navbarNav"></div>
    </div>
  </nav>
</div>
