<div class="advisor-demographics">
  <h4>Client Profile</h4>
  <br>
  <hr style="border-color: red;">
  <br>
  <h2 class="title">Robert Johnson</h2>
  <hr style="border-color: red;">
  <!--
  <div class="content">
    <div class="section">
      <h3 class="section-title">Gender</h3>
      <div class="gender-info">
        <div class="gender-item">
          <div class="gender-icon male"></div>
          <div class="gender-label">Male</div>
          <div class="gender-value">{{ advisorDemographics.malePercentage }}%</div>
        </div>
        <div class="gender-item">
          <div class="gender-icon female"></div>
          <div class="gender-label">Female</div>
          <div class="gender-value">{{ advisorDemographics.femalePercentage }}%</div>
        </div>
      </div>
    </div>
    
  </div>
-->
</div>
