<div class="similar-article">
  <h2 class="title">Similar Articles</h2>
  <div class="content">
    <div class="article-card">
      <div class="article-details">
        <h3 class="article-title">{{ similarArticle.title }}</h3>
        <p class="article-description">{{ similarArticle.description }}</p>
        <div class="article-meta">
          <span class="article-author">{{ similarArticle.author }}</span>
          <span class="article-date">{{ similarArticle.publishDate }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
