<div class="grid-container">
    <div class="main-content">
        <div class="content-header">
            <h2>Article</h2>
        </div>
        <div class="article-grid-item">
            <app-article></app-article>
        </div>
    </div>
    <div class="sidebar">
        <div class="sidebar-header">
            <h2>Advisor View</h2>
        </div>
        <div class="summarize-grid-item">
            <app-summarize></app-summarize>
        </div>
        <div class="recommend-grid-item">
            <app-recommendations></app-recommendations>
        </div>
    </div>
</div>