<div class="topic-tag">
  <h2 class="title">Advisor's Interests</h2>
  <div class="content">
    <div class="tag-list">
      <table>
        <th>Topic</th><th># articles read</th>
        @for (ts of tagSummaries; track ts) {
          <tr>
            <td>{{ts.tag}}</td><td style="text-align: center;">{{ts.articles.length}}</td>
          </tr>
          <!--
          <div class="tag">
            <span class="tag-icon">{{ts.tag}}</span>
          </div>
          -->    
        }
    </table>
    </div>
  </div>
</div>
