<div class="topic-tag">
  <h2 class="title">Advisor's Interests</h2>
  <div class="content">
    <div class="tag-list">
      <table>
        <th>Topic</th><th># articles read</th>
        @if(isLoading) {
          <br>
          <p>Loading...</p>
        }
        @else {
          @for (ts of tagSummaries; track ts) {
            <tr>
              <td>{{ts.tag}}</td><td style="text-align: center;">{{ts.articles.length}}</td>
            </tr>        
          }
        }
        
    </table>
    </div>
  </div>
</div>
