<div class="container">
  <!-- First row -->
  <div class="advisor-demographics-grid">
    <app-advisor-demographics></app-advisor-demographics>
  </div>

  <!-- Second row -->
  <div class="row">
    <div class="web-usage-grid">
      <app-web-usage></app-web-usage>
    </div>
    <div class="topic-tag-grid">
      <app-topic-tag></app-topic-tag>
    </div>
  </div>

  <!-- Third row -->
  <div class="row">
    <div class="summary-grid">
      <app-summary></app-summary>
    </div>
    <div class="similar-article-grid">
      <app-next-best-action></app-next-best-action>
   </div>
  </div>
</div>
